<template functional>
  <div class="asm-logo" :style="$options.logoStyle">
    <table class="asm-logo__wrp" :style="$options.clear">
      <tr>
        <td class="asm-logo__col" :style="$options.colStyle">
          <a href="https://asm.ru" class="asm-logo__link" :style="$options.linkStyle">
            <img
              class="asm-logo__icon"
              :style="$options.iconStyle"
              src="http://cdn.asm.ru/img/mail/asm_ltd_logo.png"
              width="auto"
              height="55"
              alt="АлтайСтройМаш"
              title="АлтайСтройМаш"
            >
          </a>
        </td>
        <td class="asm-logo__span asm-logo__col" :style="[$options.colStyle, { width: '15px' }]" />
        <td class="asm-logo__col" :style="$options.colStyle">
          <a href="https://asm.ru" class="asm-logo__link" :style="$options.linkStyle">
            <div class="asm-logo__text" :style="$options.textStyle">Алтайский<br>Завод<br>Строительного<br>Машиностроения</div>
          </a>
        </td>
      </tr>
    </table>
  </div>
</template>

<script lang="ts">
import { BASE_CLEAR_TABLE } from '../style/clear';
export default {
  props: {
    src: {
      type: String,
      default: '',
    },
  },
  clear: BASE_CLEAR_TABLE,
  logoStyle: {
    overflowY: 'hidden',
    height: '55px',
  },
  iconStyle: {
    display: 'inline-block',
    verticalAlign: 'top',
    maxWidth: '100%',
    height: '55px',
  },
  textStyle: {
    marginTop: '2px',
    textAlign: 'left',
    fontSize: '11px',
    lineHeight: '13px',
    display: 'inline-block',
    verticalAlign: 'top',
    textTransform: 'uppercase',
    fontWeight: 'bold',
    color: '#1162a4',
  },
  linkStyle: {
    fontSize: '11px',
    lineHeight: '13px',
    textDecoration: 'none',
    display: 'inline-block',
    verticalAlign: 'top',
    color: '#1162a4 !important',
  },
  colStyle: {
    display: 'inline-block',
    verticalAlign: 'top',
  },
};
</script>
