<template functional>
  <table class="mail-chain-header" style="border: none; border-spacing: 0; padding: 0">
    <tr>
      <td class="before-content-td">
        <slot name="title">
          {{ props.title }}
        </slot>
      </td>
      <td v-if="props.number !== '' || $slots.nunber" class="before-content-td link" width="100px">
        <slot name="number">
          {{ props.number }}
        </slot>
      </td>
    </tr>
  </table>
</template>

<script>
export default {
  name: 'MailChainHeader',
  functional: true,
  props: {
    title: {
      type: String,
      default: '',
    },
    number: {
      type: [String, Number],
      default: '',
    },
  },
};
</script>
