<template functional>
  <div class="mail-page" :style="$options.page">
    <table class="mail-page__wrapper" :style="[$options.clear, $options.page]">
      <slot />
    </table>
  </div>
</template>

<script lang="ts">
import { BASE_CLEAR_TABLE } from '../style/clear';
export default {
  name: 'MailPage',
  clear: BASE_CLEAR_TABLE,
  page: {
    backgroundColor: '#ffffff',
  },
};
</script>
