<template functional>
  <table style="border: none; border-collapse: collapse; border-spacing: 0; border-top: 1px solid #DADFE1; font-family: Roboto, Verdana, sans-serif; max-width: 800px; padding: 0; table-layout: initial" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td colspan="4" style="border-top: 1px solid #DADFE1" height="30px" />
    </tr>
    <tr>
      <td style="" width="3.39%" />
      <td class="asm-contact__content" colspan="2">
        <table
          align="center"
          style="margin-top: 24px; max-width: 165px; vertical-align: top"
          width="190px"
          border="0"
          cellpadding="0"
          cellspacing="0"
        >
          <tr>
            <td><img src="http://cdn.asm.ru/static/img/contacts/asm-agro.png" alt="Компания «ASM Group Ltd»" title="Компания «ASM Group Ltd»" style="border-radius: 50%; border: 1px solid #e3e4e4; height: auto; max-width: 100%; width: 165px" width="165"></td>
          </tr>
        </table>
        <table align="center" style="font-size: 14px; line-height: 21px; margin-top: 14px; max-width: 470px; vertical-align: top" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <div style="text-align: center; color: #5e5e5d; font-size: 14px; line-height: 21px; margin-bottom: 14px">
                <div>С&nbsp;уважением,</div>
                <div style="color: #5e5e5d; font-size: 16px; font-weight: bold; line-height: 21px">
                  Компания ASM-AGRO
                </div>
              </div>
              <div style="text-align: center; color: #5e5e5d; font-size: 14px; line-height: 21px">
                <div style="color: #69563a; font-size: 14px; line-height: 21px">
                  <img
                    src="https://cdn.asm.ru/img/mail/icon_tel_line.png?u=1918387023033985"
                    alt="РФ:"
                    style="display: inline-block; height: 16px; vertical-align: middle; width: 16px"
                    width="16"
                  >&nbsp;<a href="tel:88001004454" title="Позвонить бесплатно в офис компании" style="color: #a96116; display: inline-block; text-decoration: none">8 800 100 4454</a>, &nbsp;&nbsp; <img src="https://cdn.asm.ru/img/mail/icon_tel_line.png?u=48301902408875375" alt="Мир:" style="display: inline-block; height: 16px; vertical-align: middle; width: 16px" width="16">&nbsp;<a href="tel:+73852500545" title="Позвонить в офис компании" style="color: #a96116; display: inline-block; text-decoration: none">+7&nbsp;(38-52)&nbsp;50-05-45</a>
                  <div class="asm-contact__schedule">
                    (Часы работы 5:00&nbsp;— 14:00 по&nbsp;МСК)
                  </div>
                </div>
                <div style="color: #5e5e5d; font-size: 14px; line-height: 21px; text-decoration: none">
                  <a href="whatsapp://send?phone=79230045555" style="color: #5e5e5d; display: inline-block; text-decoration: none">WhatsApp</a>, <a href="viber://chat?number=79230045555" style="color: #5e5e5d; display: inline-block; text-decoration: none">Viber</a>, <a href="tg://resolve?domain=79230045555" style="color: #5e5e5d; display: inline-block; text-decoration: none">Telegram</a>: <span style="display: inline-block">+7&nbsp;923&nbsp;004-55-55</span>
                </div>
                <div style="font-size: 14px; line-height: 21px">
                  <a href="https://asm-agro.ru/?utm_source=regular_mailing&utm_medium=email&utm_campaign=signature" style="color: #a96116; display: inline-block; font-size: 16px; font-weight: bold; line-height: 21px; text-decoration: none">www.asm-agro.ru</a>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </td>
      <td style="" width="3.39%" />
    </tr>
    <tr>
      <td colspan="4" style="border-bottom: 1px solid #DADFE1" height="54px" />
    </tr>
    <tr class="asm-contact__footer">
      <td style="" width="3.39%" />
      <td colspan="2" style="margin-top: 24px">
        <table align="center" style="border: none; border-spacing: 0; padding: 0" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td style="" width="100%" valign="middle" align="left">
              <table
                align="left"
                style="border: none; border-spacing: 0; margin: 24px 0 24px 0; padding: 0; text-align: left"
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="auto"
              >
                <tr>
                  <td style="padding: 0 16px" width="48px">
                    <a href="https://www.youtube.com/channel/UCxBzEA6H0Bq_f6erj_VJLNg?sub_confirmation=1" style="color: #d67b1c; display: inline-block; text-decoration: none"><img src="https://cdn.asm.ru/img/mail/icon_youtube.png?u=016246379238041397" alt="YT" style="height: 48px; width: 48px" width="48"></a>
                  </td>
                </tr>
              </table>
              <table
                align="left"
                style="border: none; border-spacing: 0; margin: 24px 0 24px 0; padding: 0; text-align: left"
                border="0"
                cellpadding="0"
                cellspacing="0"
                width="auto"
              >
                <tr>
                  <td style="padding: 0 16px" width="48px">
                    <a href="https://www.instagram.com/asm_agro_ru/" style="color: #d67b1c; display: inline-block; text-decoration: none">
                      <img src="https://cdn.asm.ru/img/mail/icon_instagram.png?u=7363112817827349" alt="TG" style="height: 48px; width: 48px" width="48"></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
      <td style="" width="3.39%" />
    </tr>
  </table>
</template>

<script lang="ts">
import { BASE_CLEAR_TABLE } from '../style/clear';
export default {
  name: 'MailSignature',
  clear: BASE_CLEAR_TABLE,
  page: {
    backgroundColor: '#ffffff',
  },
};
</script>
