<template functional>
  <tr class="mail-page-row" :style="$options.bgColor(props.color)">
    <td v-if="$options.isPaddingsShown()" class="mail-page-row__padding" :style="$options.paddingsStyle" />
    <td class="page__row-content" :colspan="$options.isPaddingsShown() && 3">
      <slot />
    </td>
    <td v-if="$options.isPaddingsShown()" class="mail-page-row__padding" :style="$options.paddingsStyle" />
  </tr>
</template>

<script lang="ts">
export default {
  name: 'MailPageRow',
  functional: true,
  props: {
    color: {
      type: String,
      default: 'transparent',
    },
    paddings: {
      type: Boolean,
      default: false,
    },
  },
  isPaddingsShown () {
    return !!this.props.paddings;
  },
  paddingsStyle: {
    width: '3.39%',
  },
  bgColor (color: string) {
    return {
      backgroundColor: color,
    };
  },
};
</script>
