<template functional>
  <table class="mail-header" :style="$options.clear">
    <tr>
      <td class="mail-header__logo-col" :style="$options.logoStyle">
        <slot name="logo" />
      </td>
      <td class="mail-header__contacts-col" :style="$options.contactsColStyle">
        <p class="mail-header__contacts" :style="$options.contactsStyle">
          Поддержка клиентов:<br>
          <strong :style="$options.nowrapStyle">8 800 100 4454</strong><br>
          <strong :style="$options.nowrapStyle">+7 (3852) 500-545</strong>
        </p>
      </td>
    </tr>
  </table>
</template>

<script lang="ts">
import { BASE_CLEAR_TABLE } from '~/style/clear';
import { PT, PB } from '~/style/spaces';

export default {
  props: {
    src: {
      type: String,
      default: '',
    },
  },
  clear: BASE_CLEAR_TABLE,
  logoStyle: {
    textAlign: 'left',
    ...PT[4],
    ...PB[4],
  },
  contactsColStyle: {
    verticalAlign: 'top',
    textAlign: 'right',
    ...PT[4],
  },
  contactsStyle: {
    whiteSpace: 'nowrap',
    textAlign: 'right',
    margin: 0,
    fontSize: '11px',
  },
  nowrapStyle: {
    whiteSpace: 'nowrap',
    display: 'inline-block',
  },
};
</script>
