<template functional>
  <div class="mail-bg" :style="{ backgroundColor: '#CDD3D4' }">
    <table class="mail-layout" :style="[$options.clear, $options.wrapper]">
      <tr v-if="$slots.before">
        <!-- Заголовок до белого блока -->
        <td>
          <slot name="before" />
        </td>
      </tr>

      <tr>
        <td>
          <slot />
        </td>
      </tr>

      <tr>
        <!-- Футер после белого блока -->
        <td>
          <slot name="after" />
        </td>
      </tr>
    </table>
  </div>
</template>

<script lang="ts">
import { BASE_CLEAR_TABLE } from '../style/clear';
export default {
  clear: BASE_CLEAR_TABLE,
  wrapper: {
    border: 'none',
    borderSpacing: 0,
    color: '#333333',
    fontFamily: 'Tahoma, Trebuchet, Arial, sans-serif',
    fontSize: '15px',
    lineHeight: 1.5,
    marginTop: 0,
    marginLeft: 'auto',
    marginRight: 'auto',
    marginBottom: 0,
    maxWidth: '708px',
    paddingTop: 0,
    paddingLeft: 0,
    paddingRight: 0,
    paddingBottom: '40px',
    backgroundColor: '#CDD3D4',
  },
};
</script>
