<template functional>
  <table class="mail-banner" :style="[$options.clear]" border="0" cellpadding="0" cellspacing="0">
    <tr><td><img style="display: block; width: 100%;" :src="props.src" alt=""></td></tr>
  </table>
</template>

<script lang="ts">
import { BASE_CLEAR_TABLE } from '../style/clear';
export default {
  props: {
    src: {
      type: String,
      default: '',
    },
  },
  clear: BASE_CLEAR_TABLE,
};
</script>
