<template functional>
  <table class="footer base-clear-table">
    <tr>
      <td>
        <a :href="$options.unsubscribeUrl"><strong>Отписаться от рассылки</strong></a>
      </td>
    </tr>
  </table>
</template>

<script>
export default {
  unsubscribeUrl: '{{UnsubscribeUrl}}',
};
</script>
