<template functional>
  <table
    class="base-clear-table white-footer-wrapper"
    style="border: none; border-spacing: 0; font-family: Tahoma, Trebuchet, Arial, sans-serif; max-width: 708px; padding: 0"
    border="0"
    cellpadding="0"
    cellspacing="0"
    width="100%"
  >
    <tr>
      <td colspan="3">
        <slot />
      </td>
    </tr>
    <tr>
      <td colspan="3" height="8" />
    </tr>
  </table>
</template>
