<template>
  <div :style="styles">
    <slot />{{ whiteSpace }}
  </div>
</template>

<script>
export default {
  name: 'MailSubText',
  computed: {
    whiteSpace () {
      return new Array(50).fill(' ‍');
    },
    styles () {
      return {};
    },
  },
};
</script>
