<template functional>
  <tr>
    <td v-if="$options.isPaddingsShown()" class="mail-page-row__padding" :style="$options.paddingsStyle" />
    <td :colspan="$options.isPaddingsShown() && 3">
      <hr :style="$options.styles()">
    </td>
    <td v-if="$options.isPaddingsShown()" class="mail-page-row__padding" :style="$options.paddingsStyle" />
  </tr>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  functional: true,
  props: {
    height: {
      type: String,
      default: '24',
    },
    paddings: {
      type: Boolean,
      default: false,
    },
  },
  isPaddingsShown () {
    return !!this.props!.paddings;
  },
  paddingsStyle: {
    width: '3.39%',
  },
  styles () {
    const height = parseInt(this.props!.height);
    return {
      marginTop: `${height / 2}px`,
      marginBottom: `${height / 2}px`,
      borderTop: 'none',
      borderLeft: 'none',
      borderRight: 'none',
      borderBottom: '1px solid',
      borderColor: '#dadfe1',
    };
  },
  paddings: {
    width: '3.39%',
  },
});
</script>
