<template>
  <mail-layout>
    <mail-page>
      <mail-page-row padding>
        <mail-header>
          <template #logo>
            <asm-logo />
          </template>
        </mail-header>
      </mail-page-row>
      <mail-page-row>
        <mail-banner />
      </mail-page-row>

      <nuxt />

      <mail-page-divider padding />
      <mail-page-row padding>
        <mail-footer>
          <mail-signature />
        </mail-footer>
      </mail-page-row>
    </mail-page>
    <template #after>
      <mail-unsubscribe-block />
    </template>
  </mail-layout>
</template>

<script lang="ts">
import AsmLogo from '../components/AsmLogo.vue';
import MailLayout from '../components/MailLayout.vue';
import MailPage from '../components/MailPage.vue';
import MailPageRow from '../components/MailPageRow.vue';
import MailPageDivider from '../components/MailPageDivider.vue';
import MailBanner from '../components/MailBanner.vue';
import MailHeader from '../components/MailHeader.vue';
import MailFooter from '../components/MailFooter.vue';
import MailUnsubscribeBlock from '../components/MailUnsubscribeBlock.vue';
import MailSignature from '../components/MailSignature.vue';

export default {
  components: {
    AsmLogo,
    MailLayout,
    MailPage,
    MailPageRow,
    MailPageDivider,
    MailBanner,
    MailHeader,
    MailFooter,
    MailUnsubscribeBlock,
    MailSignature,
  },
};
</script>
