<template>
  <mail-page-row>
    <h1 />
  </mail-page-row>
</template>

<script lang="ts">
import Vue from 'vue';
import MailPageRow from '../components/MailPageRow.vue';

export default Vue.extend({
  components: {
    MailPageRow,
  },
  layout: 'Mail',

});
</script>
